extends layout

block content
  h1 Create a Question
  p.lead Press add to add a question to the Questionbank.
  hr
  form(action='/create/question', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='question') Question
      .col-md-7
        input.form-control(type='text', name='question', id='question')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='options') Option 1
      .col-md-7
        input.form-control(type='text', name='option1', id='option1')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='options') Option 2
      .col-md-7
        input.form-control(type='text', name='option2', id='option2')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='options') Option 3
      .col-md-7
        input.form-control(type='text', name='option3', id='option3')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='options') Option 4
      .col-md-7
        input.form-control(type='text', name='option4', id='option4')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right Correct Answer
      .col-sm-6
        label.radio.col-sm-3
          input(type='radio', name='correctAnswers', value='one', data-toggle='radio')
          span Option 1
        label.radio.col-sm-3
          input(type='radio', name='correctAnswers', value='two', data-toggle='radio')
          span Option 2
        label.radio.col-sm-3
          input(type='radio', name='correctAnswers', value='three', data-toggle='radio')
          span Option 3
        label.radio.col-sm-3
          input(type='radio', name='correctAnswers', value='four', data-toggle='radio')
          span Option 4

  .form-group
    .offset-sm-3.col-md-7.pl-2
      button.btn.btn.btn-primary(type='submit')
        i.fas.fa-pencil-alt.fa-sm
        | Add Question
